html{
	/* font-size: 13em;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	display: inline-block;
	margin: 0; */
}

body{
	/* position: relative; */
	text-align: center;
	background-color: rgb(51, 51, 51);
	background-color: black;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
	background-image: url(../img/fondoTextoAudio@2x.jpg);
	background-size: 100%;
	background-size: cover;
	background-size: inherit;
	/* width: 100%;
	height: 100%; */
	/* margin: 0; */
/*	font-size: 31px;*/
}

*{
	margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* width */
::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f15d; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(68, 68, 68); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(34, 34, 34); 
  }

.contenedorChat{
	display: grid;
    width: 99vw;
    height: 99vh;
	justify-content: center;
	align-content: center;
	/* background-color: rgba(0, 255, 255, 0.226); */
}
.chatUno{
	border-radius: 30px;
    overflow: hidden;
    border-top: 2px solid #456B6B;
    height: 532px;
  
    position: relative;
    width: 300px;
    
	padding: 25px;

    background-color: rgba(0, 0, 0, 0.5);
	background-color: rgba(16, 16, 16, 1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);

	box-shadow: 0 1px 4px rgba(0,0,0,0.207), 
                0 2px 8px rgba(0,0,0,0.207), 
                0 4px 16px rgba(0,0,0,0.207), 
                0 8px 32px rgba(0,0,0,0.207),
                0 16px 64px rgba(0,0,0,0.207), 
                0 32px 120px rgba(0,0,0,0.207);

				display: grid;
				justify-content: center;
    justify-items: center;
}



::-webkit-input-placeholder {
	color: #737373;
   font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
	color: #737373; 
   font-size: 14px;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #737373; 
   font-size: 14px;
}

:-ms-input-placeholder {  
	color: #737373;
   font-size: 14px;
}


#escuchar{
	

	/* from bootstrap */
	display: inline-block;
    padding: 13px 22px;
    /* margin-bottom: 0; */
    /* font-size: 14px; */
    font-weight: 100;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 50px;
	background-color: #446b6b;
	color: #c4c4c4;
	width:60px;
	height: 60px;


	/* //// */

	/* margin-bottom: 20px; */
	font-size: 25px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: 1.5px;
}

#escuchar:hover{
	background-color: #446b6b;
	color: #ababab;
	font-weight: 100;
}

.contenedorEscuchar{
	display: flex;
	flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
	gap: 30px;
	margin: -15px -12px -24px;
	z-index: 8;
    position: relative;
	align-self: start;
    justify-self: end;
    /* grid-column-start: 1; */
    grid-row-start: 1;
}

.escucharTexto{
	color: whitesmoke;
}

#aquiElTexto{
	background: black;
	background-color: #0f0f0f;

	/* width: 95%;
	width: 290px;
	max-width: 100%; */
	resize: none;

}


.form-control{
    margin: -7px 0 0 0;
	/* from boostrap */
	font-family: inherit;
	display: block;
    width: 105%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
	font: inherit;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%); */
    /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */


	/* /// */


	height: 105px !important;
	/* border: 1px solid #456B6B !important; */
	border-radius: 7px;
	/* font-size: 10px; */
	color: #737373;
	/* margin: 18px 0; */
	border: transparent;



}


.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    /* -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 11%); */
}


.form-group{
	display: grid;
	position: relative;
	justify-items: center;
}

.contenedorTextos{
	padding: 10px;
    width: 120%;
    /* background-color: rgb(60, 60, 60); */
    border-radius: 20px;
    position: relative;
	overflow: hidden;
	height: 244px;
}

#aquiLosTextos{


	border-radius: 14px;
	text-align: left;

	height: 220px;
	/* padding: 10px; */

/* 
	background-color: rgba(161, 255, 255, 0.05);
	background-color: rgb(60 60 60); */
	overflow: auto;
	overflow-x: hidden;
	color: rgba(255, 255, 255, 0.2);
	position: relative;
	z-index: 1;
	/* width: 90%;
	width: 250px; */
}

.contenedorNoHay{
	width: 120%;
	height: 140px;
    background: #424242;
}

#noHay{

	text-align: left;
	height: 109px;
	width: 97%;

	padding: 0 10px;

	margin-top: 5%;
	overflow: auto;
	color: rgba(255, 255, 255, 36%);
	font-size: 1.3em;
	font-weight: 100;
	overflow-x: hidden;
	letter-spacing: 1.5px;

}

.instrucciones{
	color: darkgray;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 1.5px;
	margin-bottom: 6px;

	background: #3e4c4c;
    padding: 5px;
    /* position: absolute; */
    margin-top: -10px;
    margin-left: -10px;
    width: 120%;
    box-shadow: 0 5px 19px 0 #34424287;
	display: none;
}

.nuevoMensaje{

	margin-bottom: 5px;

	border-radius: 11px;
	background-color: rgba(161, 255, 255, 0.03);
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 97%;
}

.nuevoMensaje p{
	font-weight: 100;
	font-size: 1.5em;
	letter-spacing: 1.5px;
}

#escribe{
	width: 250px;
	/* height: 90px; */
	margin: 4px 0px 0px 0px;
	
}


.info{
	position: absolute;
    top: 0;
    left: 0;
	width: 99vw;
	height: 99vh;
	display: grid;
	align-content: center;
	justify-content: center;
	background-color: rgb(34, 34, 34);
	z-index: 1000;
}

.btninfo{
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 15px;
	padding-top: 15px;
	cursor: pointer;
	z-index: 10001;
}

.infoInfo{
	font-size: 9px;
	color: gainsboro;
}

.burgerInfo{
	background-color: gainsboro;
	width: 28px;
	height: 3px;
	border-radius: 4px;
	margin-bottom: 4px;
}

.infomodal{
	font-size: 18px;
	color: darkgrey;
	width: 50vw;
	font-weight: 100;
	line-height: 1.5;
	letter-spacing: 1.5px;
}

.infomodal a{
	color: darkgrey;
}

#infomodal{
	display: none;
}

.infomodal h1{
	font-size: 19px;
	margin: 30px auto 10px;
}


@media (max-width: 541px) {
	.infomodal {
	  width: 70vw;
	  font-size: 15px;
	}
  }


  @media (max-width: 321px) {
	.infomodal {
	  width: 80vw;
	  font-size: 13px;
	}
  }